{% extends 'layout.twig' %} {% block title %} About Us {% endblock %} {% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-8 mx-auto">
            <h3>
              About AlwaysOn WiFi
            </h3>
            <hr class="my-4">
            <p class="lead">
              AlwaysOn WiFi is not your average WiFi provider. We believe everyone should have access to fast, affordable WiFi wherever they go, in the home, and the office of even small businesses. 
            </p>
            <p class="lead">That’s why AlwaysOn WiFi goals to provide as many WiFi hotspots across Koforidua (and eventually beyond), as well as WiFi for the Home and Office, at always awesome prices.
            </p>
            <p>
              AlwaysOn WiFi is currently available at select locations and expanding. See our covarage map to learn areas covered, as well as individual homes and offices we serve.
            </p>
            <p>
              <a href="/coverage" class="btn btn-outline-primary btn-lg">Our Coverage Map</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}