{% extends 'layout.twig' %}
{% block title %} Coverage {% endblock %}
{% block content %}
   <hr class="my-4">
    <p class="text-center display-3">
      Stay connected via WiFi, that stays 'Always On'.
    </p>
    <hr class="my-4">
    <div class="row justify-content-md-center">
    <p class="lead">
      Coverage map coming soon.
    </p>
<!--       <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item col-sm-12" src="https://www.google.com/maps/d/u/0/embed?mid=1cFe7UqIgEh5vgNbi3oKirP0ZiUE" allowfullscreen></iframe>
      </div> -->
    </div>
{% endblock %}