{% extends 'layout.twig' %} {% block title %} For Homes {% endblock %} {% block content %}
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing mt-5">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1 class="display-3 text-center">The whole family</h1>
                <p class="lead text-center">It is a family treat with AlwaysOn WiFi. A single, easy-to-mount receiver, taps into the AlwaysOn WiFi for the Home. With speeds of <strong>up to 10 Mbps</strong> per each connected device, everyone in the family gets to stream videos and play online games at ease.</p>
                <p class="lead text-center">AlwaysOn WiFi for the Home is available in prices you are already comfortable with. The same voucher code for our WiFi zones gets you connected in the home too.</p>
                <p>
                  <a href="/packages" class="btn btn-outline-primary btn-lg">Our Packages</a>
                  <a href="/for-business#package" class="btn btn-outline-secondary btn">For Businesses</a>
                </p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row my-0 mb-3">
        <div class="col text-center">
            <h1 class="display-4">Easy Steps</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <p class="text-center">
                <i class="fa fa-exchange fa-5x"></i>
            </p>
            <h2>Request Receiver</h2>
            <p>For a seamless network setup and maximum network throughput using the latest technologies at an affordable prices, we work with only Ubiquiti equipments. Thankfully, a receiver does not cost a fortune.</p>
            <p><a class="btn btn-outline-secondary" href="/support" role="button">Request Receiver</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-6 col-lg-4">
            <p class="text-center">
                <i class="fa fa-wrench fa-5x"></i>
            </p>
            <h2>Quick Installations</h2>
            <p>The receiver can be mounted alongside your existing TV antenna on the same pole. We do the cabling and configurations same day, within a few hours, so you can get to your browsing quick!</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-6 col-lg-4">
            <p class="text-center">
                <i class="fa fa-wifi fa-5x"></i>
            </p>
            <h2>Subscribe and Browse</h2>
            <p>Now the easiest part: Buy your AlwaysOn WiFi voucher from the nearest shop and start browsing. Or even better, buy via Mobile Money. The choice is yours</p>
            <p><a class="btn btn-outline-secondary" href="/packages" role="button">Packages</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row my-0 mb-3">
        <div class="col text-center">
            <h1 class="display-4">Why AlwaysOn WiFi</h1>
            <p class="lead"><strong>For the Home</strong></p>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Significantly Affordable. <span class="text-muted">For the whole family.</span></h2>
            <p class="lead">The 'Why' affordable is simple. AlwaysOn WiFi source internet data from ISPs at huge sizes, which comes at a relatively cheaper price. We therefore make this amazing offer to you, ensuring the cost of our WiFi usage stays right within your pocket's reach.</p>
            <p>Our packages are affordable and flexible for everyone in the family.</p>
            <a href="/packages" class="btn btn-outline-primary float-right">Our Packages</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/home1.jpg" alt="Significantly Affordable">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Flexible, Reasonable Packages. <span class="text-muted">Have all the enchilada</span></h2>
            <p class="lead">Our understanding of the different types of internet users influences our choice of packages we offer. We have designed our packages to put little pressure on your use, however, allowing you to focus on doing more - in entertainment, education and research, and or video conferencing.
            </p>
            <p>A whole as a family, however each individual have internet preferences and usage levels. We cater for all with our flexible, reasonable packages. </p>
            <a href="/packages" class="btn btn-outline-primary float-left">Our Packages</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/home2.jpg" alt="Flexible Reasonable Packages">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">It's WiFi-ly Reliable. <span class="text-muted">Yes, for real</span></h2>
            <p class="lead">To ensure fast, reliable internet connections at all times, we depend on multiple network providers, thereby improving the consistency and response times. We do not put all our eggs in one basket. That means you get to stay online all the time, even if a network provider is facing challenges. </p>
            <p>In fact, you wouldn't know of any issues, as we allow you to Enjoy WiFi, Today.&trade;</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/home3.jpg" alt="It's WiFi-ly Reliable">
        </div>
    </div>
    <hr class="featurette-divider" id="how-to-connect">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <h2>Get AlwaysOn WiFi for the Home today.</h2>
            <p>It costs less than Ghc 300 to get all the benefits of AlwaysOn WiFi for the entire family.
            </p>
            <p>Get in touch today. Let us all Enjoy WiFi, Today&trade;</p>
            <p><a class="btn btn-outline-primary" href="/support" role="button">AlwaysOn WiFi for the Home <i class="fa fa-home"></i></a></p>
        </div>
    </div>
</div>
{% endblock %}