{% extends 'layout.twig' %}
{% block title %} Welcome {% endblock %}
{% block content %}
<div class="container">
    <section>
      <h1 class="display-3 text-center">It's AlwaysOn!</h1>
      <p class="lead text-center">AlwaysOn is the new Wide Area WiFi Hotspot solution close to you in Koforidua - just the type you can afford.</p>
      <hr class="my-4">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <p class="text-center">
            <i class="fa fa-fighter-jet fa-5x"></i>
          </p>
          <p class="lead text-center">Speed & Security</p>
          <p>With focus on speed and security, AlwaysOn keeps your WiFi Internet, well, 'Always On'. Keep enjoying the web without interruptions.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <p class="text-center">
            <i class="fa fa-wifi fa-5x"></i>
          </p>
          <p class="lead text-center">Wide Coverage</p>
          <p>AlwaysOn WiFi strives to cover large neighborhoods, a way to get you connected on all your devices, all the time seamlessly. </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <p class="text-center">
            <i class="fa fa-money fa-5x"></i>
          </p>
          <p class="lead text-center">Right Prices for All</p>
          <p>AlwaysOn WiFi Data Bundles are rigged at just the right prices to beat your current data bundles, yet easy on your pocket.</p>
        </div>
      </div>
      <div class="text-center" style="margin-top:1.8rem;">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#bundles" role="button">See bundles</a>
        </p>
      </div>
    </section>
  </div>
  <hr class="my-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-5">
        <img src="public/public/assets/hotspot.png" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-9 col-lg-7">
        <p class="display-3">
          Welcome to AlwaysOn
        </p>
        <h3>
          Stay connected via WiFi, that stays 'Always On'.
        </h3>
        <p class="lead">
          It is time to change the way you access the Internet. Convert your AirTime to Data now, and get fast Internet access over a wide coverage area.
        </p>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-7">
        <p class="display-3">
          Near You*
        </p>
        <h3>
          Enjoy WiFi Internet access from AlwaysOn, just where you are.
        </h3>
        <p class="lead">
          AlwaysOn WiFi is constantly looking for opportunities to expand. We will be happy to bring AlwaysOn closer to you. Just get in touch.
        </p>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-5 hidden-sm-down">
        <img src="public/assets/coverage.jpg" class="img-fluid">
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-5 hidden-sm-down">
        <img src="public/assets/prices.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-md-9 col-lg-7">
        <p class="display-3">
          At M-mm-uah! Prices
        </p>
        <h3>
          Prices that beats everything you know, in WiFi.
        </h3>
        <p class="lead">
          Starting at 1 Cedis for 100 Mb, AlwaysOn WiFi are priced just the way you want. Are you an Internet heavy user? Want a package for watching videos? AlwaysOn WiFi matches all the prices you can think of for your all-round needs.
        </p>
      </div>
    </div>
  </div>
<!--   <hr class="my-4">
  <div class="container">
    <p class="text-center display-3">
      Stay connected via WiFi, that stays 'Always On'.
    </p>
    <hr class="my-4">
    <div class="row justify-content-md-center">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item col-sm-12" src="https://www.google.com/maps/d/u/0/embed?mid=1cFe7UqIgEh5vgNbi3oKirP0ZiUE" allowfullscreen></iframe>
      </div>
    </div>
  </div> -->
  <hr class="my-4">
  <div class="container">
    <div class="col-12">
      <p class="display-3 text-center" id="bundles">Bundles & Prices</p>
      <table class="table table-striped table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Bundle Name</th>
            <th>Duration (Days)</th>
            <th>Data Cap (Gig)</th>
            <th>Price (Cedis)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Mini Lite</th>
            <td>3</td>
            <td>0.1 (100 Mb)</td>
            <td>1</td>
          </tr>
          <tr>
            <th scope="row">Mini Heavy</th>
            <td>3</td>
            <td>0.3 (300 Mb)</td>
            <td>2</td>
          </tr>
          <tr>
            <th scope="row">Monthly Lite</th>
            <td>30</td>
            <td>1</td>
            <td>5</td>
          </tr>
          <tr>
            <th scope="row">Monthly Heavy</th>
            <td>30</td>
            <td>3</td>
            <td>10</td>
          </tr>
          <tr>
            <th scope="row">Monthly Xtreme</th>
            <td>30</td>
            <td>10</td>
            <td>30</td>
          </tr>
          <tr>
            <th scope="row">Custom Monthly Bundle</th>
            <td>Contact Alwayson</td>
            <td colspan="2">+233.26.920.1707 or alwayson@khophi.co</td>
          </tr>
        </tbody>
      </table>
    </div>
    <section>
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="lead text-center">Where to Buy?</p>
          <p>Buy your AlwaysOn WiFi bundle at <em>Ben Yehowah Shop</em> near the Densuano Clinic, or find the a reseller close to you.</p>
        </div>
        <div class="col-12 col-md-6">
          <p class="lead text-center">Resellers</p>
          <p>Resellers earn a percentage on each voucher sold. Want to be an AlwaysOn WiFi Internet Bundler Voucher reseller? <a href="#contact">Contact us.</a> </p>
        </div>
      </div>
    </section>
    <hr class="my-4">
    <div class="col-12">
      <p class="display-3 text-center">FAQs</p>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is AlwaysOn WiFi?
        </a>
      </h5>
          </div>
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <p>
                AlwaysOn WiFi is a project by <a href="http://theafricandream.co" target="new">TheAfricanDream LLC</a>, aimed at providing relatively fast affordable WiFi Internet to neighborhoods at parts of Koforidua.
              </p>
              <p>
                With AlwaysOn WiFi, you can surf the web, watch videos online, send and receive emails and chat (text and or voice) at cheaper prices, using Wi-Fi.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Is AlwaysOn WiFi Fast?
        </a>
      </h5>
          </div>
          <div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              <p>
                Yes. For example, AlwaysOn WiFi is fast enough to even watch YouTube videos from 240p to 480p quality without issues or lag.
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingThree">
            <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          I don't get reception at my place. Why?
        </a>
      </h5>
          </div>
          <div id="collapseThree" class="collapse show" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
              <p>
                AlwaysOn is currently operating at select places. <a href="#contact">Contact us</a> to learn more
              </p>
            </div>
          </div>
        </div>        
        <div class="card">
          <div class="card-header" role="tab" id="headingFour">
            <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How do I connect?
        </a>
      </h5>
          </div>
          <div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour">
            <div class="card-block">
              <p>
                Connect to AlwaysOn using the steps below:
              </p>
              <ul>
                <li>Pick up your smartphone, tablet or laptop within our coverage area, turn on the WiFi on your device, and search for WiFi networks.</li>
                <li>Connect to the network, "AlwaysOn" Wi-Fi in the list. <small>If you don't find the "AlwaysOn WiFi" in your list of WiFi networks, you're not within coverage of the pilot phase.</small></li>
                <li>Enter your voucher code in the browser, and start browsing. You may acquire a voucher code from a nearest AlwaysOn Voucher Reseller.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingFive">
            <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Can I Download with AlwaysOn WiFi?
        </a>
      </h5>
          </div>
          <div id="collapseFive" class="collapse show" role="tabpanel" aria-labelledby="headingFive">
            <div class="card-block">
              <p>
                Yes, you can. However, be considerate when, how and what you download. Use of the AlwaysOn WiFi in breach of the <a href="/terms">Terms of Use</a> will mean a temporal or permanent ban from the WiFi Service.
              </p>
              <p>
                In order to ensure a fast reliable connection for all users, we recommend you do heavy downloads (200Mb or more file sizes) during the night, as less users are on the network, and the download will be relatively faster.
              </p>
              <p>
                For very big file sizes, we encourage you to contact AlwaysOn WiFi Administrators, and we'll be happy to do an off-the-WiFi download for you for free, after considering your request, content to download, and if such content meets our ToS.
              </p>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="display-3 text-center" id="support">Support</p>
        <p>
          Need assistance with using AlwaysOn WiFi? Send a message to <a href="mailto:alwayson@khophi.co">alwayson [ at ] khophi.co</a> for support, and we'll be happy to answer your questions.
        </p>
      </div>
      <div class="col">
        <p class="display-3 text-center" id="contact">Contact</p>
        <p>
          Contact AlwaysOn WiFi on +233.26.920.1707 or email, <a href="mailto:alwayson@khophi.co">alwayson [ at ] khophi.co</a>.
        </p>
      </div>
    </div>
  </div>
  <footer class="footer" style="margin-top:3rem;">
    <div class="container">
      <span class="text-muted">
      <script type="text/javascript">
        document.write(new Date().getFullYear());
      </script> 
      AlwaysOn WiFi is a project of <a href="http://theafricandream.co" target="new">TheAfricanDream LLC</a>, a US-Based organization.</span>
    </div>
  </footer>
  {% endblock %}