{% extends 'layout.twig' %} {% block title %} Welcome to AlwaysOn WiFi {% endblock %} {% block slider %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="../public/assets/slide1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1>Fast WiFi on the move</h1>
                    <p>Connect to AlwaysOn WiFi at your favorite public place in Koforidua. Continue where you left off, still connected, even when not in the home.</p>
                    <p><a class="btn btn-lg btn-primary" href="/packages" role="button">See our packages</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="../public/assets/slide2.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1>Affordable pricing for the Home</h1>
                    <p>A simple WiFi antenna taps you into the fast AlwaysOn WiFi, for you and your family at flexible, pre-paid packages. Only subscribe what you need. No fixed charges!</p>
                    <p><a class="btn btn-lg btn-primary" href="/for-home" role="button">For Homes</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="../public/assets/slide4.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1>No Fibre? No Problem</h1>
                    <p>Connect your business to the internet with AlwaysOn WiFi, at amazing speeds, at affordable prices. We deal with network providers, so you just have to deal with your business.</p>
                    <p><a class="btn btn-lg btn-primary" href="/for-business" role="button">For Businesses</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="../public/assets/slide3.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption text-center">
                    <h1>Top Up, anywhere, anytime</h1>
                    <p>With our custom designed AlwaysOn Voucher Generator, generate your voucher code via Mobile Mobile on your laptop, mobile phone or tablet. It is fast and seamless!</p>
                    <p><a class="btn btn-lg btn-primary" href="https://buy.enjoywifi.today" role="button">Top Up</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>
{% endblock %} {% block content %}
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1 class="display-3 text-center">Enjoy WiFi, Today!</h1>
                <p class="lead text-center">AlwaysOn is the new Wide Area WiFi Hotspot solution close to you in Koforidua - just the type you can afford. Available for the family or your business.</p>
                <p class="lead text-center">Same subscription, for the home, available to use throughout any of our WiFi zones.</p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Speed & Security</h2>
            <p>With focus on speed and security, AlwaysOn keeps your WiFi Internet, well, 'Always On'. Keep enjoying the web without interruptions.</p>
            <p><a class="btn btn-secondary" href="/about" role="button">About AlwaysOn &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-6 col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Wide Coverage</h2>
            <p>AlwaysOn WiFi strives to cover large neighborhoods, a way to get you connected on all your devices, all the time seamlessly.</p>
            <p><a class="btn btn-secondary" href="/coverage" role="button">Current Coverage &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-6 col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Right Prices for All</h2>
            <p>AlwaysOn WiFi Data Bundles are rigged at just the right prices to beat your current data bundles, yet easy on your pocket.</p>
            <p><a class="btn btn-secondary" href="/packages" role="button">Bundles &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row my-0 mb-3">
        <div class="col text-center">
            <h1 class="display-4">What we Do</h1>
        </div>
    </div>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Business Focused. <span class="text-muted">Including your business.</span></h2>
            <p class="lead">Businesses, small or medium size, can and should Enjoy WiFi, Today&trade;. AlwaysOn WiFi improves the productivity of businesses that rely on reliable, internet connections with our fast WiFi solutions.</p>
            <p>Our 24/7 AlwaysOn WiFi Voucher generator, means you can always top up, the right package at just when you need it.</p>
            <a href="/for-business" class="btn btn-primary float-right">Learn more</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">The whole family. <span class="text-muted">Streaming for all.</span></h2>
            <p class="lead">A subscription model that fits the pockets of everyone in the family. Getting the whole family connected independently at fast, reliable network speeds.
            </p>
            <p>Connect any devices and or equipment such as an Android TV or an Apple Box. As many as possible, for you</p>
            <a href="/for-home" class="btn btn-primary float-left">Learn more</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Extending your Internet <span class="text-muted">From point A to B</span></h2>
            <p class="lead">Our experience in deploying WiFi systems puts us ahead in the market. Want to extend the internet connection at your institution or workplace to the homes of your teachers or workers respectively?</p>
            <p>We are here for you, always using the best in WiFi technology equipment along with proper configurations.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Tailored WiFi Solutions. <span class="text-muted">Just for your needs.</span></h2>
            <p class="lead">Our team of expertise are 'Always On' standby to assist with your next deployment, installations and configurations. 
            </p>
            <p>Connect with us today. Let's chat.</p>
            <a href="/support" class="btn btn-primary float-left">Contact us</a>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
    </div>
    <hr class="featurette-divider" id="how-to-connect">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Select & Connect</h2>
            <p>Turn on the WiFi connection on your device i.e, phone, laptop, tablet or TV. Select "AlwaysOn" in the list of open WiFi networks to connect.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Watch <i class="fa fa-home"></i></a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-6 col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Open Your Browser</h2>
            <p>AlwaysOn WiFi should trigger a "Sign In" on your Android or Windows device. Or, open any browser (except Internet Explorer), try navigating to a site.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Watch <i class="fa fa-home"></i></a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-6 col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Enter AlwaysOn Voucher</h2>
            <p>Accept the 'Terms & Conditions', enter your voucher code, and begin browsing. You shall see the 'Enter Voucher' page again, when and only when your current voucher is exhausted.</p>
            <p><a class="btn btn-secondary" href="/packages" role="button">Watch <i class="fa fa-home"></i></a> <a href="/packages" class="btn btn-sm btn-outline-secondary">Our Packages</a></p>

        </div>
        <!-- /.col-lg-4 -->
    </div>
</div>
{% endblock %}