<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %} Override {% endblock %} - It's AlwaysOn</title>
  <link rel="icon" href="assets/favico.png" sizes="32x32">
  <!-- Bootstrap -->
  <link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/style.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
{% block content %}
  Override here
{% endblock %}
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="./vendor/jquery/dist/jquery.min.js"></script>
  <script src="./vendor/tether/dist/js/tether.min.js"></script>
  <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>

