<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="https://khophi.co">
    <meta name="google-site-verification" content="ljW21IHygFrMmnj9MRdzQIe_cxaYZir5SOwcueD3FjI" />
    <meta name="description" content="AlwaysOn WiFi - Enjoy WiFi, Today!">
    <meta property="og:description" content="AlwaysOn WiFi - Enjoy WiFi, Today!">
    <meta property="og:site_name" content="Enjoy WiFi Today">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="AlwaysOn WiFi - Enjoy WiFi, Today!">
    <link rel="icon" href="../public/assets/favico.png">
    <title>{% block title %} Title {% endblock %} - Enjoy WiFi, Today!</title>
    <!-- Bootstrap core CSS -->
    <link href="../public/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../public/assets/style.css" rel="stylesheet"> {% block extra_head %} {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="/">AlwaysOn WiFi</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <<a href="/check-voucher" class="btn btn-secondary my-2 my-sm-0 text-white">Check Balance</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        {% block slider %} {% endblock %} {% block content %} {% endblock %}
        <!-- FOOTER -->
        <hr class="featurette-divider">
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 KhoPhi Communications LLC. &middot; <a href="/privacy">Privacy</a> &middot; <a href="/terms">Terms</a> &middot; <a href="/about">About AlwaysOn WiFi</a> &middot; <a href="https://blog.khophi.co/tag/alwayson" target="new">Blog</a></p>
        </footer>
    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../public/vendor/jquery/dist/jquery.min.js">
    </script>
    <script src="../public/vendor/popper.js/dist/umd/popper.min.js"></script>
    <script src="../public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../public/vendor/holderjs/holder.min.js"></script>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107235247-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments) };
    gtag('js', new Date());

    gtag('config', 'UA-107235247-1');
    </script>
</body>

</html>