<!DOCTYPE html>
<html lang="en" ng-app="unifiguest">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Check your AlwaysOn Data Bundle</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
{% block body %}
  Override here
{% endblock %}
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="./vendor/jquery/dist/jquery.min.js"></script>
  <script src="./vendor/tether/dist/js/tether.min.js"></script>
  <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
