{% extends 'layout.twig' %}
{% block title %} Log in Successful {% endblock %}
{% block content %} 
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <div class="jumbotron text-center">
          <h1>Login Successful.</h1>
          <p class="lead">You have successfully logged into AlwaysOn WiFi. Continue browsing</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://www.google.com" target="new" role="button">Continue Browsing</a>
            <a class="btn btn-secondary" href="https://alwayson.khophi.co" role="button">What is AlwaysOn?</a>
          </p>
        </div>
      </div>
      <div class="col-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- RADIUS -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-3447974026628607" data-ad-slot="7851289975" data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
{% endblock %}