{% extends 'layout.twig' %} {% block title %} For Neighborhoods {% endblock %} {% block content %}
<div class="container marketing mt-5">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <h1 class="display-3 text-center">The entire Neighborhood</h1>
                <p class="lead text-center">The bigger, the better. AlwaysOn WiFi blankets neighborhoods, estates and or residential areas with strong WiFi internet connection outdoors, ensuring you remain connected, even outdoors.</p>
                <p class="lead text-center">Hangout with friends in your backyard, enjoy connectivity on the sports field, or even at the nearest canteen. It is WiFi, Everywhere! Enjoy WiFi, Today&trade;</p>
                <p>
                    <a href="/packages" class="btn btn-outline-primary btn-lg">Our Packages</a>
                </p>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row my-0 mb-3">
        <div class="col text-center">
            <h1 class="display-4">Easy Steps</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <p class="text-center">
                <i class="fa fa-exchange fa-5x"></i>
            </p>
            <h2>Request Deployment</h2>
            <p>Want to see your entire neighborhood within Koforidua engulfed in amazing WiFi? It's possible, and we'll love to help that.</p>
            <p><a class="btn btn-outline-secondary" href="/support" role="button">Get in touch</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-6 col-lg-4">
            <p class="text-center">
                <i class="fa fa-wrench fa-5x"></i>
            </p>
            <h2>Professional Deployments</h2>
            <p>Yes, we will come with the best of WiFi technology to ensure every inch possible within your neighborhood is connected, and fast! We've done it before.</p>
            <p><a class="btn btn-outline-secondary" href="/coverage" role="button">Current Coverage</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-md-6 col-lg-4">
            <p class="text-center">
                <i class="fa fa-wifi fa-5x"></i>
            </p>
            <h2>Subscribe and Browse</h2>
            <p>Now the easiest part: Buy your AlwaysOn WiFi voucher from the nearest shop and start browsing. Or even better, buy via Mobile Money. The choice is yours</p>
            <p><a class="btn btn-outline-secondary" href="/packages" role="button">Packages</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row my-0 mb-3">
        <div class="col text-center">
            <h1 class="display-4">Why AlwaysOn WiFi</h1>
            <p class="lead"><strong>For Neighborhoods</strong></p>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/bullet5.jpg" alt="Significantly Affordable">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading mt-5">WiFi, Everywhere. <span class="text-muted">The whole WiFi enchilada.</span></h2>
            <p class="lead">The 'Why' affordable is simple. AlwaysOn WiFi source internet data from ISPs at huge sizes, which comes at a relatively cheaper price. We therefore make this amazing offer to you, ensuring the cost of our WiFi usage stays right within your pocket's reach.</p>
            <p>Our packages are affordable and flexible for everyone in the family.</p>
            <a href="/packages" class="btn btn-outline-primary float-left">Our Packages</a>
        </div>
    </div>    

    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading mt-5">Significantly Affordable. <span class="text-muted">For the whole family.</span></h2>
            <p class="lead">The 'Why' affordable is simple. AlwaysOn WiFi source internet data from ISPs at huge sizes, which comes at a relatively cheaper price. We therefore make this amazing offer to you, ensuring the cost of our WiFi usage stays right within your pocket's reach.</p>
            <p>Our packages are affordable and flexible for everyone in the family.</p>
            <a href="/packages" class="btn btn-outline-primary float-right">Our Packages</a>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/home1.jpg" alt="Significantly Affordable">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/home2.jpg" alt="Flexible Reasonable Packages">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading mt-5">Flexible, Reasonable Packages. <span class="text-muted">Have all the enchilada</span></h2>
            <p class="lead">Our understanding of the different types of internet users influences our choice of packages we offer. We have designed our packages to put little pressure on your use, however, allowing you to focus on doing more - in entertainment, education and research, and or video conferencing.
            </p>
            <p>A whole as a family, however each individual have internet preferences and usage levels. We cater for all with our flexible, reasonable packages. </p>
            <a href="/packages" class="btn btn-outline-primary float-left">Our Packages</a>
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading mt-5">It's WiFi-ly Reliable. <span class="text-muted">Yes, for real</span></h2>
            <p class="lead">To ensure fast, reliable internet connections at all times, we depend on multiple network providers, thereby improving the consistency and response times. We do not put all our eggs in one basket. That means you get to stay online all the time, even if a network provider is facing challenges. </p>
            <p>In fact, you wouldn't know of any issues, as we allow you to Enjoy WiFi, Today.&trade;</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../public/assets/home3.jpg" alt="It's WiFi-ly Reliable">
        </div>
    </div>
    <hr class="featurette-divider" id="how-to-connect">
    <div class="row">
        <div class="col-md-8 mx-auto text-center">
            <h2>Get AlwaysOn WiFi for the Home today.</h2>
            <p>It costs less than Ghc 500 to get all the benefits of AlwaysOn WiFi for the entire family.
            </p>
            <p>Get in touch today. Let us all Enjoy WiFi, Today&trade;</p>
            <p><a class="btn btn-outline-primary" href="/support" role="button">AlwaysOn WiFi for Neighborhoods <i class="fa fa-home"></i></a></p>
        </div>
    </div>
</div>
{% endblock %}