{% extends 'layout.twig' %} {% block title %} Privacy Policy {% endblock %} {% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="display-3">Privacy Policy</h1>
            <hr class="my-4"> 
            <p>
              The privacy of readers – regular, casual or one off – here at enjoywifi.today is important to us. Below is some information on the types of personal information received and collected when you use and visit the site (enjoywifi.today), what it’s for, what it’s collected, and how we safeguard your information. We <strong><em>never </em></strong>sell any personal information collected first-hand to third parties.
            </p>
            <h3>Log Files</h3> 
            <p>As with most other websites, you visit online we collect data contained in log files. The information in the log files includes your IP (internet protocol) address, your ISP (internet service provider, such as Airtel or MTN), the browser you used to visit our site (such as Chrome or Edge), the time you visited our site and which pages you visited throughout our site. Although we rarely ever look at the log files in question (they’re theoretically useful for tracking down bot attacks and the like) we’re obliged to tell you we do.
            </p>
            <h3>Cookies &amp; The Web Beacons</h3> 
            <p>
              Cookies are used on this site to store information for analytics (seeing how many people visit the site, what pages they read, etc), social interaction (buttons to share on Facebook, etc), advertisements, and any additional features used on an individual articles (e.g., polls, quizzes, feedback forms). Amongst the services that either do or may uses cookies on this site are:
            <ul>
                <li>Google Analytics for analytics</li>
                <li>Twitter, Facebook, Google+ and YouTube for social interaction</li>
                <li>Possible advertisements</li>
                <li>Disqus for commenting</li>
                <li>YouTube, Vimeo, Vine and Instagram embeds</li>
                <li>MailChimp for mailing list</li>
            </ul>
          </p>
          <p>
            Some advertisers may use technology such as cookies and web beacons when they advertise on our site, which will also send these advertisers (such as Google through the Google AdSense program) information including your IP address, your ISP , the browser you used to visit our site, and in some cases, whether you have Flash installed. These cookies are generally used for geotargeting purposes (like showing Wisconsin real estate ads to someone in Accra, for example) or showing certain ads based on specific sites visited (such as showing cooking ads to someone who frequents cooking sites).
          </p>
            <strong>You can choose to disable or selectively turn off our cookies or third-party cookies in your browser settings.</strong> However, this can affect how you are able to interact with our site as well as other websites. This could include the inability to login to services or programs.
        </div>
    </div>
</div>
{% endblock %}