{% extends 'layout.twig' %}
{% block title %} Help & Support {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <p class="display-3">Support</p>
        <p class="lead">
          Need assistance with using AlwaysOn WiFi? <br/> Send a message to <a href="mailto:alwayson@khophi.co">alwayson [ at ] khophi.co</a> for support, and we'll be happy to answer your questions.
        </p>
      </div>
      <div class="col-sm-12 col-md-6">
        <p class="display-3">Contact</p>
        <p class="lead">
          Contact AlwaysOn WiFi on <br>
          phone: +233.26.920.1707 <br/>
          email: <a href="mailto:alwayson@khophi.co">alwayson [ at ] khophi.co</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock %}