{% extends 'layout.twig' %}
{% block title %} Help & Support {% endblock %}
{% block content %}
    <div class="row">
      <div class="col">
        <p class="display-3 text-center" id="support">Support</p>
        <p>
          Need assistance with using AlwaysOn WiFi? Send a message to <a href="mailto:alwayson@khophi.co">alwayson [ at ] khophi.co</a> for support, and we'll be happy to answer your questions.
        </p>
      </div>
      <div class="col">
        <p class="display-3 text-center" id="contact">Contact</p>
        <p>
          Contact AlwaysOn WiFi on +233.26.920.1707 or email, <a href="mailto:alwayson@khophi.co">alwayson [ at ] khophi.co</a>.
        </p>
      </div>
    </div>
{% endblock %}