{% extends 'layout.twig' %} {% block title %} Terms {% endblock %} {% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1 class="display-3">Terms of Use</h1>
            <hr class="my-4">
            <h1>Overview</h1>
            <p>Devices and Hotspots WiFi Hotspots from Khophi&rsquo;s AlwaysOn</p>
            <ul>
                <li>Use of the WiFi Service is dependent upon the proper working of your Devices</li>
                <li>The WiFi Service is intended for email, instant messaging, browsing the internet and using apps.</li>
            </ul>
            <h2>Use of the WiFi Service:</h2>
            <ul>
                <li>The WiFi Service must not be used for any commercial or business purpose and you do not have the right to resell or enable access to the WiFi Service to any third party.</li>
                <li>You must comply with our Acceptable Use Policy which is set out below and forms part of this agreement</li>
                <li>We operate a Network Management Policy that may impact your use of the WiFi Service from time to time, including limiting the type of website that you can access from Hotspots. Further information on our Network Management Policy is provided below.</li>
                <li>To protect the WiFi Network and maintain the quality of service we can temporarily or permanently control or restrict your online activities where such activities may have a detrimental effect on other customers&rsquo; quality of service and it is reasonable for us to do so (e.g. sending &ldquo;spam&rdquo; messages or hosting a website).</li>
                <li>You agree to indemnify us against all losses, liabilities, costs (including legal costs) and expenses which we may incur as a result of third party claims against us arising from, or in connection with, your misuse of the WiFi Service or breach of this agreement</li>
                <li>We may require you to reimburse us for any reasonable and foreseeable losses, costs and expenses which we incur as a direct result of the misuse of the WiFi Service by you.</li>
            </ul>
            <h1>Acceptable Use Policy</h1>
            <p>&nbsp;</p>
            <p>Our Acceptable Use Policy (&ldquo;AUP&rdquo;) will apply to any user of the WiFi Service.</p>
            <ul>
                <li>Don&rsquo;t use the WiFi Service illegally!</li>
                <li>The WiFi Service and the WiFi Network may only be used for lawful purposes in accordance with all laws, statutes, and regulations in force from time to time in Ghana (&ldquo;Laws&rdquo;).</li>
                <li>You may not use the WiFi Service and/or the WiFi Network to send, receive, store, distribute, WiFi Hotspots from Khophi&rsquo;s AlwaysOn to transmit, post, upload or download any materials or data which:</li>
                <ul>
                    <li>(a) violates any Law;</li>
                    <li>(b) is defamatory, offensive, abusive, indecent, obscene, or constitutes harassment;</li>
                    <li>(c) is or may be harmful to minors;</li>
                    <li>(d) promotes or encourages illegal or socially unacceptable or irresponsible behaviour;</li>
                    <li>(e) is in breach of any third party rights (including any third party intellectual property rights);</li>
                    <li>(f) has any fraudulent purpose or effect or involves a user impersonating another person or otherwise misrepresenting himself or herself as the source of any communication; or</li>
                    <li>(g) damages or may damage our name and/or reputation or the name and/or reputation of our subcontractors or agents.</li>
                </ul>
                <li>Do not violate anyone&rsquo;s systems or network security</li>
                <li>You must not use the WiFi Service to violate the WiFi Network&rsquo;s security or any third party&rsquo;s system or network security by any method including:</li>
                <ul>
                    <li>(a) unauthorized access to or use of data, systems or networks, including any attempt to probe, scan or test the vulnerability of a system or network;</li>
                    <li>(b) unauthorized monitoring of data or traffic on any network or system without the express authorization of the owner of the system or network; or</li>
                    <li>(c) unauthorized interference with any user, host, system or network without the express authorisation of the owner of the system or network.</li>
                </ul>
                <li>You must not send, receive, store, distribute, transmit, post, upload or download any materials that are designed to violate the WiFi Network&rsquo;s security or any third party&rsquo;s system or network security. Examples of such prohibited material may include (but are not limited to):</li>
                <ul>
                    <li>(a) programs containing viruses, worms, corrupted files, hoaxes, Trojan horses or any other items of a destructive or deceptive nature;</li>
                    <li>(b) tools designed to compromise the security of other sites;</li>
                    <li>(c) programs or services designed to send or facilitate the sending of unsolicited advertisements; or</li>
                    <li>(d) programs or services designed to encourage or facilitate a breach of this AUP or any acceptable use policy of another internet services provider.</li>
                </ul>
                <li>You must not connect the WiFi Network to insecure machines or services able to be exploited by others to carry out actions which constitute a breach of this AUP.</li>
                <li>You must not adapt, modify, decompile or reverse engineer any part of the WiFi Service.</li>
                <li>You must not reveal the SSID or password to any third party not attending the event.</li>
                <li>You are responsible for all materials and/or data originating from the machines and/or networks that they have connected to the WiFi Network. A user must immediately disconnect machines generating any such materials and/or data which contravene this AUP once notified of such activity.</li>
            </ul>
            <h2>World Wide Web and surfing the net</h2>
            <p>You will be solely responsible for your use of the internet and any web pages you own and/or operate that connect to the WiFi Network using the WiFi Service. You must not use world wide web pages within or outside the WiFi Network to violate any part of this AUP or to disrupt or attempt to disrupt another internet user&rsquo;s internet experience.</p>
            <h2>Messages</h2>
            <p>You must not send emails or instant messages (Messages) to anyone who does not wish to receive them. We acknowledge that email and instant messaging are informal methods of communication however you must refrain from sending Messages to another user after receiving a request to stop.</p>
            <p>You must not send unsolicited bulk Messages or any other form of abusive electronic communication. In particular, unsolicited advertising mailings (whether commercial or informational) are strictly prohibited.</p>
            <p>You must not operate, host, provide hosting facilities to or assist in any way any website, email address, or any other online service which is advertised or promoted by means of unsolicited bulk Messages (whether commercial or informational), any mass messaging facility or any other form of abusive electronic communication.</p>
            <p>You must not send, distribute, or reply to mailbombs. Mailbombing is either sending copies of a single message to many you or sending large or multiple files or messages to a single user with the intention of disrupting their internet experience.</p>
            <p>You must not use false Message headers or alter the headers of Messages to conceal their email address or to prevent the internet you from responding to messages. You must not use any email address that they are not authorized to use.</p>
            <p>You must not suggest or imply that any Message you send is authorized or endorsed by, Khophi&rsquo;s AlwaysOn.</p>
            <h2>Network Management Policy</h2>
            <p><strong>URL blocking Internet Watch Foundation</strong></p>
            <p>The Internet Watch Foundation provides a dynamic list of individual web pages with child sexual abuse content to its members, companies within their group and licensees that have the ability to filter and block access to such content. We are committed to blocking access to child sexual abuse web pages thereby protecting you from being inadvertently exposed to such content.</p>
            <p>For more information please refer to <a href="http://www.iwf.org.uk/">http://www.iwf.org.uk</a></p>
            <p><strong>Additional URL Blocking</strong></p>
            <p>We may implement extended URL blocking to general categories of sites that may be deemed inappropriate for public environments or specific URLs for legal or contractual reasons. The type of site categories that may be blocked include those relating to:</p>
            <ul>
                <li>Drug use</li>
                <li>Pornography</li>
                <li>Offensive or illegal speech</li>
                <li>Network malfeasance</li>
            </ul>
            <p>The list of categories may be amended or supplemented from time to time.</p>
            <p>The status of individual sites can be checked at:</p>
            <p>http://cfssupport.sonicwall.com/Support/web/eng/newui/viewRating.jsp</p>
            <h2>Traffic management</h2>
            <p>Details of any network management policies implemented from time to time that may affect your use of the WiFi Service will be shared from time to time.</p>
        </div>
    </div>
</div>
{% endblock %}