{% extends 'layout.twig' %}
{% block title %} Terms {% endblock %}
{% block content %}
  <div class="container" style="margin-top:20px;">
    <div class="jumbotron">
      <h1 class="display-3">Terms of Use</h1>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://docs.google.com/document/d/1SSPCyo_fnpvA0VOPXINYHyJiaTC3Mo6tLIlqkRHYZYU/edit?usp=sharing" role="button">Click here to view Terms</a>
      </p>
    </div>
  </div>
{% endblock %}