<!DOCTYPE html>
<html lang="en" ng-app="unifiguest">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Check your AlwaysOn Data Bundle</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="./vendor/bootstrap/dist/css/bootstrap.min.css">
  <script src="./vendor/angular/angular.js"></script>
  <script src="./app.js"></script>
</head>

<body>
  <div class="container" style="margin-top:20px;" ng-controller="HomeController">
    <div class="row">
      <div class="col-sm-12 col-md-8 offset-md-2">
        <h3>Check your AlwaysOn Bundle</h3>
        <hr class="my-4">
        <form novalidate ng-submit="checkVoucher()">
          <div class="form-group">
            <label for="voucher_code">Voucher Code</label>
            <input type="text" class="form-control" id="voucher_code" required aria-describedby="voucher_code" placeholder="Voucher code. e.g 32345-38208" name="voucher_code" ng-model="voucher_code">
            <small id="voucher_code" class="form-text text-muted">Enter your voucher code</small>
          </div>
          <button type="submit" class="btn btn-primary" role="button"><span ng-if="sending">Sending</span><span ng-if="!sending">Submit</span></button>
        </form>
        <hr class="my-4">
        <div class="alert alert-info" role="alert" ng-if="sending">
          <strong>Loading</strong>
        </div>
        <div class="lead" ng-if="result.length">
          <p>Total Bundle: </p>
          <p>Total Used: </p>
          <p>Total Left: </p>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="error">
          <p>
            Oops! Something didn't go as planned. See error below, if it makes any sense:
          </p>
          <p>
            {{ error }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="./vendor/jquery/dist/jquery.min.js"></script>
  <script src="./vendor/tether/dist/js/tether.min.js"></script>
  <script src="./vendor/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
